body {
    background-color: lightsteelblue;
}

h3, section{
    border: 7px purple dashed;
}
section > p{
    color: rosybrown;
}

ul , ol {
    background-color: chartreuse;
    border: chocolate ridge 10px;
}